@model IEnumerable<OLClubs.Models.GroupMember>
@using Microsoft.AspNetCore.Http;

@{
    ViewData["Title"] = $"Members of '{Context.Session.GetString("artistName")}'";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ArtistIdMemberNavigation.NameAddress.FullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateJoined)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateLeft)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ArtistIdMemberNavigation.NameAddress.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateJoined)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateLeft)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ArtistIdMember">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.ArtistIdMember">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.ArtistIdMember">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
